<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- Redis配置-->
    <section name="BaoJiaQueueRedis" type="YQ.TMPL.MVC.Data.RedisConfigInfo, YQ.TMPL.MVC.Data"/>
  </configSections>
  <!--Redis监测配置-->
  <BaoJiaQueueRedis WriteServerList="127.0.0.1:6379" ReadServerList="127.0.0.1:6379" DefaultDb="3" Password="yunqian.19930214" MaxWritePoolSize="200" MaxReadPoolSize="200" AutoStart="true" LocalCacheTime="1800" RecordeLog="false"/>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>
</configuration>
